{
  "extends": [
    "taro/react",
    "plugin:react/recommended"
  ],
  "rules": {
    "semi": "error",
    "eol-last": "error",
    "comma-dangle": ["error", "always-multiline"],
    "jsx-quotes": ["error", "prefer-double"]
  },
  "globals": {
    "wx": true
  }
}
