.top-bar {
  .top-bar-inner {
    background-color: #0078d4;
    padding: 48px 0 0 24px;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    right: 0;
  }

  .type-filter {
    font-size: 0;
    .type-filter-btn {
      background-color: rgba(255, 255, 255, .1);
      border: none;
      color: white;
      padding: 0 28px;
      font-size: 28px;
    }
  }

  .history-simple-info {
    margin-top: 18px;
    margin-left: 28px;
    display: flex;
    font-size: 26px;
    color: white;
    .info {
      margin-left: 12px;
      display: flex;
      .income {
        margin-left: 12px;
      }
    }
  }
}
