.navigation-bar {
  text-align: center;
  color: white;
  font-weight: 600;
  position: relative;
  z-index: 20;

  .navigation-bar-inner {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: #0078d4;
  }
  .navigation-bar-text {
    display: block;
    font-size: 34px;
  }
}